.list {
  margin-bottom: 48px;
}

.magazine + .magazine {
  margin-top: 32px;
}

.books {
  margin-bottom: -16px;
}

.book {
  text-align: center;
}
.book {
  margin-bottom: 16px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
