.comics {
  margin-bottom: 48px;
}

.comic + .comic {
  margin-top: 16px;
}

.cover {
  max-width: 160px;
  max-height: 250px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
